<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In</title>
    <link rel="stylesheet" href="login-page.css" />
    <script defer src="login-page.js"></script>
    <script src="https://kit.fontawesome.com/7dcaa8fc33.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container-fluid">
      <form id="login-form">
        <label class="companyName">No More Bugs</label>
        <br />
        <hr class="solid" />
        <br />
        <i class="fa-solid fa-user-group"></i><br /><br /><br />
        <label class="label accessAccount">Login to access your account</label><br />
        <br />
        <i class="fa-solid fa-user"></i>
        <input class="input-field" type="text" placeholder="Username" id="username" />
        <br />
        <i class="fa-solid fa-lock"></i>
        <input class="input-field" type="password" id="password" placeholder="Password" /><br />
        <input class="checkbox" type="checkbox" /><span class="checkbox"></span>
        <label class="label lblBox" for="checkbox">Remember Me</label>
        <br />
        <input
          type="submit"
          class="btnLI"
          id="login-form-submit"
          value="Login"
          onclick="lsRememberMe()"
        />
        <br />
      </form>
    </div>
  </body>
</html>
